# Connection URL of your Turso Cloud Database
TURSO_DATABASE_URL="libsql://fdi-explorer-ashwik.aws-ap-south-1.turso.io"

# Authentication Token of your Turso Database
TURSO_AUTH_TOKEN="your_auth_token_here"

# Server Port (default is 5000)
PORT=5000
